fastapi
uvicorn
requests
pydantic
pymupdf
pdf2image
pytesseract
Pillow
docx2txt
chromadb
sentence-transformers
transformers
torch
tqdm
rich
langchain-text-splitters
langgraph
crawl4ai
python-magic
python-dotenv
pywin32
